.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#myName {
  color: var(--selected-accent-color);
}

.contenedor {
  text-align: center;
  padding: 1rem;
}

button {
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  color: var(--selected-text-color);
  background-color: transparent;
  outline: var(--selected-text-color);
  border-style: solid;
  border-color: var(--selected-text-color);
  font-size: 1rem;
  border-radius: 5px;
  font-family: monospace;
  transition: 0.2s;
  margin-top: 2rem;
}

button:hover {
  box-shadow: 5px 5px 5px black;
}

button:active {
  transform: scale(0.8);
}

main a {
  color: var(--selected-main-link-color);
}

@media (min-width: 768px) {
  .contenedor {
    padding: 1rem 5rem;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    padding: 1rem 10rem;
  }
}
